# Build artifacts
build/
bin/
*.o
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.obj
*.res
*.sdf
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.ino

# OS files
.DS_Store
Thumbs.db

# Temporary files
*test*.myco
*.tmp
*.temp

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

*output.c
